body {
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    padding: 10px;
    min-height: 100vh;
  }

header {
    text-align: center;
    margin: 10px 0 10px 0;
  
    .links {
      text-transform: uppercase;
      text-align: center;
      font-size: 150%;
      margin-bottom: 20px;